.navbar{
     display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #18181B;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}

.btn-tambah{
    background-color: #8B5CF6;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.btn-tambah:hover{
    background-color: #A78BFA;
}

.btn-tambah a{
    color: white;
    text-decoration: none;
}

.logo{
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo img{
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.menu {
    display: flex;
    list-style: none;
    gap: 10px;
    margin: 0;
    padding: 0;
}

.menu a {
    color: #E4E4E7;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
}

.menu a:hover {
    color: #FACC15;
}